# Sanal ortamlar
phisfusion/
phishfusion/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
app/
*.csv
*.png

# IDE
.idea/
.vscode/

# Model / log 
weights/*.pth
logs/

# Ham / islenmis veri klasoru
data/
